{{> placemark-brand}}
<div id="navMenu" class="pt-5 navbar-menu">
  <div class="navbar-menu is-hoverable">
    <div class="navbar-end">
      <a id="dashboard" class="button is-success is-outlined mx-2" href="/dashboard">Dashboard<i
          class="fa-solid fa-house-chimney-user pl-2"></i></a>
      <a id="about" class="button is-success is-outlined mx-2" href="/about">About<i
          class="fa-solid fa-address-card pl-2"></i></a>
      <a id="logout" class="button is-success mx-2 is-outlined" href="/logout">Logout<i
          class="fa-solid fa-right-from-bracket pl-2"></i></a>
    </div>
  </div>
</div>
<script>
  document.getElementById("{{active}}").classList.add("is-focused");
</script>
<br>
