<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <div class="navbar-brand">
        <div class="title p-3 is-flex">
          <i style="font-size: 48px;" class="ml-5 fas fa-solid fa-location-dot has-text-white"></i>
          <i style="font-size: 48px;" class="ml-5 fas fa-solid fa-map has-text-white"></i>
          <i style="font-size: 48px;" class="ml-5 fas fa-solid fa-earth-europe has-text-white"></i>
          <div class="ml-5 mt-1 has-text-bold has-text-white is-large">PLACEMARK</div>
        </div>
      </div>
    </div>
  </div>
</section>
